@import "tailwindcss";

@theme {
  --font-primary: "Onest", "serif";


  --breakpoint-xl: 1600px;
  --breakpoint-md: 1192px;
 


  --color-primary: #090B1B;
  --color-secondary: #10132B;
  --color-secondary-hover: #1B1F40;
  --color-footer: #070814;
  --color-tranding: #091A50;
  --color-brand: #1548F3;
  --color-white: #FFFFFF;
  --color-blue: #406DFF;
  --color-light-blue: #94ADFF;
  --color-gray: #7B88B8;
  --color-btn-hover: #406DFF;
  --color-btn-active: #0230CA;
  --color-line-gray: #3C4379;
  --color-line-black: #161B3F;
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);

}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
  background-color: var(--color-gray);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-line-black);
  border-radius: 10px;
  border: 3px solid transparent;
}

select:focus + div img {
  transform: rotate(180deg);
}

